
  <br>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <form #toDoForm="ngForm" (ngSubmit)="send(toDoForm)">

        <div  class="input-group">

                  <span class="input-group-btn">
                      <button type="button" id="btnHome" class="btn btn-info" (click)="goHome()"> <span class="glyphicon glyphicon-home"></span> </button>
                  </span>

          <input class="form-control" type="text" id="txtSearch" placeholder="Search..." name="search" required ngModel>

          <span class="input-group-btn">
                      <button type="submit" id="btnSearch" class="btn btn-info"> <span class="glyphicon glyphicon-search"></span> </button>
                  </span>

        </div>
      </form>
    </div>
  </div>
  <br>

